/* 메뉴 스타일링 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    position: relative;
    margin-right: 30px;
    border-bottom: 1px solid #0088ff;
}

li:hover {
  background-color: #cdcdcd;
}

ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

ul li span {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

/* 2단 메뉴 스타일링 */
ul ul {
    display: none;
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
    top: 100%;
    left: 0;
    background-color: #fff;
    min-width: 150px;
}

ul li:hover > ul {
    display: inherit;
}

ul ul li {
    width: 100%;
    float: none;

}

/* 3단 메뉴 스타일링 */
ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

ul li:hover > ul > li {
    display: list-item;
}